/*Body*/
body{
  margin: 20px;
}
article{
  padding-bottom: 20px;
}
/*Barra de navegación logo*/
.navbar, .nav{
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(245,169,242,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(246,246,246,1)), color-stop(100%, rgba(245,169,242,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(245,169,242,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(245,169,242,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(245,169,242,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(245,169,242,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5a9f2', GradientType=0 );
}
/*Tamaño y diseño del logo*/
.img-circle{
  width: 200px;
  margin: 15px auto 0 auto;
}

.img-thumbnail{
  width: 400px;
}

/* Listado social*/
ul.social-network {
	list-style: none;
	display: inline;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
/* social icons */
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoHome:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoInstagram:hover{
  background-color: #8a3ab9;
}
.social-network a.icoFacebook:hover i, .social-network a.icoHome:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoInstagram i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i{
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.comentarios{
	padding-top: 10px;
}
.txtarea{
	width: 80%;
	max-height: 100px;
}
article{
	padding-bottom: 20px;
}
.espacio{
	padding-top: 10px;
}
